<launch>
  <arg name="topic_image_input" default="/cam0/cam0" />

  <node name="image_throttler" type="throttle" pkg="topic_tools" args="messages 
  $(arg topic_image_input) 10 $(arg topic_image_input)/throttled" />

  <node pkg="image_enhance" name="image_enhance" type="image_enhance_node" clear_params="true" output="screen">

    <param name="enable_dyn_reconf" value="true" type="bool" />

    <param name="topic_image_input" value="$(arg topic_image_input)/throttled" type="str" />
    <param name="topic_image_output" value="/cam0/cam0/enhance" type="str" />

    <param name="enable_dehaze" value="false" type="bool" />
    
    <param name="scale_factor" value="2" type="int" />

    <param name="dehaze_radius" value="7" type="int" />
    <param name="dehaze_omega" value="0.9" type="double" />
    <param name="dehaze_t0" value="0.1" type="double" />
    <param name="dehaze_r" value="30" type="int" />
    <param name="dehaze_eps" value="0.01" type="double" />
    
    <param name="enable_clahe" value="true" type="bool" />
    <param name="clahe_clip_limit" value="0.01" type="double" />


  </node>


</launch>